C 900 0 "1" 900 0 0 0 60 0 R
X "PIN_TEXT" "1" 670 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 700 0 900 0 -1 0
C 0 0 "2" 0 0 0 0 60 0 L
X "PIN_TEXT" "2" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 900 -100 "3" 900 -100 0 0 60 0 R
X "PIN_TEXT" "3" 670 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -100 900 -100 -1 0
C 0 -100 "4" 0 -100 0 0 60 0 L
X "PIN_TEXT" "4" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 900 -200 "5" 900 -200 0 0 60 0 R
X "PIN_TEXT" "5" 670 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -200 900 -200 -1 0
C 0 -200 "6" 0 -200 0 0 60 0 L
X "PIN_TEXT" "6" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 900 -300 "7" 900 -300 0 0 60 0 R
X "PIN_TEXT" "7" 670 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -300 900 -300 -1 0
C 0 -300 "8" 0 -300 0 0 60 0 L
X "PIN_TEXT" "8" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 900 -400 "9" 900 -400 0 0 60 0 R
X "PIN_TEXT" "9" 670 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -400 900 -400 -1 0
C 0 -400 "10" 0 -400 0 0 60 0 L
X "PIN_TEXT" "10" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 900 -500 "11" 900 -500 0 0 60 0 R
X "PIN_TEXT" "11" 670 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -500 900 -500 -1 0
C 0 -500 "12" 0 -500 0 0 60 0 L
X "PIN_TEXT" "12" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 900 -600 "13" 900 -600 0 0 60 0 R
X "PIN_TEXT" "13" 670 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -600 900 -600 -1 0
C 0 -600 "14" 0 -600 0 0 60 0 L
X "PIN_TEXT" "14" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 900 -700 "15" 900 -700 0 0 60 0 R
X "PIN_TEXT" "15" 670 -730 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -700 900 -700 -1 0
C 0 -700 "16" 0 -700 0 0 60 0 L
X "PIN_TEXT" "16" 230 -730 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -700 0 -700 -1 0
C 900 -800 "17" 900 -800 0 0 60 0 R
X "PIN_TEXT" "17" 670 -830 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -800 900 -800 -1 0
C 0 -800 "18" 0 -800 0 0 60 0 L
X "PIN_TEXT" "18" 230 -830 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -800 0 -800 -1 0
C 900 -900 "19" 900 -900 0 0 60 0 R
X "PIN_TEXT" "19" 670 -930 0 0.00 60 0 0 2 0 0 1 0 74
L 700 -900 900 -900 -1 0
C 0 -900 "20" 0 -900 0 0 60 0 L
X "PIN_TEXT" "20" 230 -930 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -900 0 -900 -1 0
L 200 100 700 100 -1 0
L 700 -1000 700 100 -1 0
L 700 -1000 200 -1000 -1 0
L 200 100 200 -1000 -1 0
P "$LOCATION" "?" 750 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

